PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

# arbitrum mainnet
CHAIN_ID=42161
ETH_RPC_URL='https://arbitrum-one.publicnode.com'
VERIFIER=etherscan
VERIFIER_URL='https://api.arbiscan.io/api'
ETHERSCAN_API_KEY=
DEPLOYMENT_CONTEXT=arbitrum

# arbitrum sepolia testnet
CHAIN_ID=421614
ETH_RPC_URL='https://sepolia-rollup.arbitrum.io/rpc'
VERIFIER=etherscan
VERIFIER_URL='https://api-sepolia.arbiscan.io/api'
ETHERSCAN_API_KEY=
DEPLOYMENT_CONTEXT=arbitrum-sepolia